<div class="d-flex flex-row all-admissao">

    <aside>
        <app-side-menu></app-side-menu>
    </aside>

    <div class="header-main">
        <header class="w-100">
            <app-header></app-header>
        </header>
        <main class="main">
            <div class="progress-consulta">
                <div class="progress-bar">
                    <app-progress-bar></app-progress-bar>
                </div>
                <div class="consulta">
                    <app-list-consulta></app-list-consulta>
                </div>
            </div>
            <div class="bottom">
                <div class="">
                    <div class="">
                        <div class="">
                            <button type="button" class="btn btn-primary btn-lg">
                                Iniciar nova admissão
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-lg ">
                                Dicas para abertura de conta
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>