.all-admissao {
	width: 100vw;

	.header-main {
		display: flex;
		flex-direction: column;
		width: 100%;

		.main {
			.progress-consulta {
				background-color: #e7eef1;
				padding: 20px;

				.progress-bar {
					width: 42vw;
					margin: auto;
				}

				.consulta {
					padding: 15px;
				}
			}

			.bottom {
				width: 100%;
				background-color: white;
				padding: 15px;
			}
		}
	}
}