<div class="header">
	<div class="title">
		<h3 class="fw-bold">
			NOVA ADMISSÃO COOPERADO
		</h3>
		<span>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</span>
	</div>
	<div class="user-end">
		<div class="text-end">
			<button type="button" class="btn btn-link btn-lg rounded-circle ">
				<i class="far fa-bell fa-lg"></i>
				<small class="translate-middle badge rounded-pill bg-danger">7</small>
			</button>

			<button type="button" class="btn btn-outline-primary rounded-pill fw-bold">
				VIACREDI
			</button>

			<button type="button" class="btn btn-link btn-lg rounded-pill user-button">
				<img src="/assets/img/A-user.jpg" alt="User" class="rounded-circle border border-primary img-user">
				<small class="text-primary translate-middle rounded-pill user-sett">
					<i class="fas fa-cog"></i>
				</small>
			</button>
		</div>
	</div>
</div>