<div class="aside">
	<div>
		<img src="/assets/img/logo.png" alt="">
	</div>
	<a class="btn btn-link">
		<i class="fas fa-bars fa-lg"></i>
	</a>
	<a class="btn btn-link">
		<i class="fas fa-search fa-lg"></i>
	</a>
	<a class="btn btn-link">
		<i class="far fa-star fa-lg"></i>
	</a>
	<a class="btn btn-link ">
		<i class="far fa-comment-dots fa-lg"></i>
	</a>
	<a class="btn btn-link">
		<i class="fas fa-sliders-h fa-lg"></i>
	</a>
	<a class="btn btn-link">
		<i class="fas fa-university fa-lg"></i>
	</a>
</div>